<div class="head">
        <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
<mat-toolbar class="header_1">
    <mat-toolbar-row>
        <img class = "logo" src="./assets/img/AltruistsLogo1.png">
      <span>Altruists</span>
    </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-toolbar class="header_2">
    <mat-toolbar-row>
        <div class="toolbar-menu" (click)="navigatePages('home')">
            <mat-icon>home</mat-icon>
            <span class="menu-text">Home</span>
        </div>
        
        <div class="toolbar-menu" (click)="navigatePages('about')">
            <i class="material-icons">perm_identity</i>
            <span class="menu-text">About Us</span>
        </div>

        <div class="toolbar-menu" (click)="navigatePages('contact')">
            <i class="material-icons">call</i>
            <span class="menu-text">Contact Us</span>
        </div>
      </mat-toolbar-row>
</mat-toolbar> -->
</div>